* { box-sizing: border-box; 
}
:root
{
    --var: 30px;    /*Add variables if needed */
    --deep-aqua: #003B46;
    --ocean: #07575B;
    --wave: #66A5AD;
    --sea-foam: #C4DFE6;
    --light-night: #295161;
    --dark-night: #02070d;

    --test1: #1a2e37;
    --test2: #0e242c;
}

/*********************MY BACKGROUND IMAGE***************************/

.background-container
{
    height: 600px;
    width: 100%;
    margin-left: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.meteor-shower
{
    height: 100%;
    width: 100%;
    background-image: url("../images/meteor-shower.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
}

/*************************NAVIGATION****************************/

.sidenav
{
    transform: translateX(0%);
    background-color: var(--dark-night); 
}
.professional-pic
{
    height: 200px;
    width: 200px;
}

/*****************************MODALS********************************/

.modal
{
    background-image: url("../images/meteor-shower.jpg");
    color: white;
}

/****************************CARD***************************************/
.flex-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background: none;
}
.card-title
{
    font-weight: bold;
    font-size: 70px;
}
.small-talk-img { width: 30vw; }
.dashboard-img, .quiz-img, .team-profile-img, .last-moment-savers-img, .employee-tracker-img { width: 45vw; }

.card-action
{
    border: 0px;
}
.card-content
{
    padding-bottom: 0px;
}



/***************WORK SECTION**************/
.work-container
{
    margin-left: 250px;
    background-image: url("../images/meteor-shower.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}
.project-imgs { opacity: .7; }
.project-imgs:hover { opacity: 1; }

/*****************GRID SECTION*********************/

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;
}
.box { 
    position: relative;
    /* background-color: grey;  */
}
.box1 { grid-column: 1/2; }

.box2, .box4 { grid-column: 1/1; }

.box3, .box5 { grid-column: 2/4; }

img { max-width: 100%; }




.tabs-content
{
    height:700px;
}
.tabs
{
    background: none;
}
.project-title
{
    color: white;
    font-weight: 600;
    font-size: 40px;
}
.list-of-technologies
{
    color: #e1ad01;
    font-weight: 500;
    font-size: 20px;
}
.repo-link
{
    color:white;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
}

h1
{
    color:white;
    position: absolute;
    z-index: 10;
}